<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Promo</title>
</head>

<body>
    <h2>Promoções</h2>
    <hr>
    <form action="/promocoes" method="POST">
        <fieldset>
            <legend>Formulário</legend>

            <div>
                <input type="text" name="mensagem">
            </div>
            <br>
            <div>
                <label for="">Livro</label>
                <select name="livro[id]">
                    <%for(var i=0; i<lista.length; i++){%>
                        <option value="<%=lista[i].id%>">
                            <%=lista[i].nome%>
                        </option>
                        <%}%>
                </select>
            </div>
            <br>
            <input type="submit" value="Cadastrar promoção">
        </fieldset>
    </form>
</body>

</html>