<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Erro 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>O endereço buscado não existe!</p>
</body>
</html>