<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Erro 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>um erro interno aconteceu :(</p> 
</body>
</html>