<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HOME</title>
    <link rel="stylesheet" href="cores.css" type="text/css" media="all">
</head>
<body>
    <h1>Home</h1>
    <hr>
    <ul>
        <li class="red">red</li>
        <li class="green">green</li>
        <li class="blue">blue</li>
    </ul>
    <hr>
</body>
</html>