<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Cadastrar obra</title>
</head>

<body>
    <div class="erros">
        <%if(errosValidacao){%>
            <ul>
                <%for(var i=0;i<errosValidacao.length;i++){%>
                    <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                <%}%>
            </ul>
        <%}%>
    </div>
    <form action="/produtos" method="post">
        <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" value="<%=prodf.nome%>" placeholder="coloque o nome">
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" id="preco" name="preco" value="<%=prodf.preco%>" placeholder="coloque o preço">
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="descricao" cols="40" rows="10" value="<%=prodf.descricao%>" placeholder="coloque a descrição"></textarea>
        </div>

        <input type="submit" value="gravar">
    </form>
</body>

</html>