<html>
    <body>
        <table border="1px" cellpadding="10px">
            <tr>
                <td>id</td>
                <td>nome</td>
                <td>descricao</td>
                <td>preco</td>
            </tr>

            <% for(var i=0; i < lista_tuplas.length; i++) { %>
                <tr>
                    <td ><%= lista_tuplas[i].id       %></td>
                    <td><%= lista_tuplas[i].nome      %></td>
                    <td><%= lista_tuplas[i].descricao %></td>
                    <td><%= lista_tuplas[i].preco     %></td>
                </tr>
            <% } %>
        </table>
        <hr>
        troxa
        <hr>
    </body>
</html>